# Dependencies
node_modules

# Build
dist
coverage
.turbo

# Logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Xcode
**/xcuserdata/
**/*.xcuserstate
**/project.xcworkspace/

# Backup
*-backup/
